<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi Signal Strength Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            width: 50%;
            margin: 20px auto;
        }
    </style>
</head>

<body>
    <h1>Wi-Fi Signal Strength Dashboard</h1>

    <div class="chart-container">
        <canvas id="signalChart"></canvas>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>SSID</th>
            <th>Signal Strength</th>
            <th>Timestamp</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <script src="../static/script.js"></script>
</body>

</html>
